{% extends 'base.html' %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="card shadow-2-strong card-registration" style="border-radius: 20px;   position: relative;
    top: 100px;
    left: 140px;">
<div class="container">
  <h2>Formulaire d'inscription</h2>
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nom de l'entreprise</label>
      <input type="text" class="form-control" id="validationServer01" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid first name.
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Email de l'entreprise</label>
      <input type="text" class="form-control" id="validationServer02" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid last name.
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Pseudo</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input type="text" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">Adress postale</label>
      <input type="text" class="form-control" id="validationServer03" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">Ville</label>
      <select class="form-select" id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer05" class="form-label">Code postal</label>
      <input type="text" class="form-control" id="validationServer05" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
            Accepter les termes et conditions
        </label>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
            Vous devez accepter avant de soumettre.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Ajouter une entreprise</button>
    </div>
  </form>
</div>
</div>
</div>
  {% endblock %}